* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: 0 auto; 
}

label {
  font-weight: bold;
}


input[type=text], select, textarea {
  width: 100%;              
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;          
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #03955e;
}


h3 {
  text-align: left;
  margin-left: 25%;
}
