body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  width: 180px;          
  margin: 20px 0px;     
}

.square {
  width: 60px;
  height: 60px;
  background-color: #f7f8fa;
  border: 1px solid #999;
  float: left;            
  box-sizing: border-box; 
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}
